[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
pylint = "*"
jsonschema = "*"
frictionless= "*"
great_expectations = "*"

[dev-packages]
responses = "*"

[requires]
python_version = "3.9"
